body {
  background-image: url('bg.jpg'); 
  background-size: 2500px; 
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: #fff;
}

.menu {
    background-color: rgb(0, 0, 0); /* Warna latar belakang navbar */
    height: 97vh; /* Tinggi navbar setara dengan tinggi viewport */
    width: 500px; /* Lebar navbar */
    position: fixed; /* Membuat navbar tetap di posisi saat digulir */
    top: 13px;
    left: 20px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu1 {
    background-color: rgba(114, 114, 114, 0.653); /* Warna latar belakang navbar */
    height: 40vh; /* Tinggi navbar setara dengan tinggi viewport */
    width: 1200px; /* Lebar navbar */
    position: fixed; /* Membuat navbar tetap di posisi saat digulir */
    top: 100px;
    left: 600px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.menu2 {
    background-color: rgb(255, 255, 255); /* Warna latar belakang navbar */
    height: 35vh; /* Tinggi navbar setara dengan tinggi viewport */
    width: 1200px; /* Lebar navbar */
    position: fixed; /* Membuat navbar tetap di posisi saat digulir */
    top: 175px;
    left: 600px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu3 {
    background-color: rgba(114, 114, 114, 0.653); /* Warna latar belakang navbar */
    height: 30vh; /* Tinggi navbar setara dengan tinggi viewport */
    width: 400px; /* Lebar navbar */
    position: fixed; /* Membuat navbar tetap di posisi saat digulir */
    top: 550px;
    right: 60px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content {
    margin-top: 30px;
    margin-left: 150px;
    color: rgb(255, 254, 254);
}

.content1 {
    margin-top: 100px;
    margin-left: 29px;
    color: rgb(255, 254, 254);
}

.content2 {
    margin-top: 270px;
    margin-left: 100px;
    color: rgb(0, 67, 11);
}

.content3 {
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}

.content4 {
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}

.kotak{
    width: 250px;
    height: 250px;
    top: 50px;
    left: 80px;
    position: absolute;
}


.heading-container {
    display: flex;
    justify-content: space-between;
  }

  /* Optional: Styling untuk setiap heading */
  .heading {
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(0, 67, 11);
  }

  body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-text, .center-text, .right-icon {
    margin-top: 20px;
    flex: 1;
    font-size: 1.5em;
    color: rgb(0, 67, 11);
  }
  
  .left-text {
    text-align: left;
  }
  
  .center-text {
    text-align: center;
  }
  
  .right-icon {
    text-align: right;
  }
  
  .checkmark {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('ceklis.png');
    background-size: cover;
  }
  



  .container2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-text2, .center-text2, .right-icon2 {
    margin-top: -40px;
    flex: 1;
    font-size: 1.5em;
    color: rgb(0, 67, 11);
  }
  
  .left-text2 {
    text-align: left;
  }
  
  .center-text2 {
    text-align: center;
  }
  
  .right-icon2 {
    text-align: right;
  }
  
  .checkmark2 {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('silang.png');
    background-size: cover;
  }




  .container3 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-text3, .center-text3, .right-icon3 {
    margin-top: -40px;
    flex: 1;
    font-size: 1.5em;
    color: rgb(0, 67, 11);
  }
  
  .left-text3 {
    text-align: left;
  }
  
  .center-text3 {
    text-align: center;
  }
  
  .right-icon3 {
    text-align: right;
  }
  
 


  .container4 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-text4, .center-text4, .right-icon4 {
    margin-top: -40px;
    flex: 1;
    font-size: 1.5em;
    color: rgb(0, 67, 11);
  }
  
  .left-text4 {
    text-align: left;
  }
  
  .center-text4 {
    text-align: center;
  }
  
  .right-icon4 {
    text-align: right;
  }
  

  .container5 {
    text-align: center;
    margin-top: -200px;
    margin-right: 500px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .container6 {
    text-align: center;
    margin-top: 50px;
    margin-right: 270px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
  }



.img-thumbnail1 {
   width: 35px;
   height: 25px;
   position: absolute;
   margin-top: 533px ;
   margin-left: 50px;
}

.img-thumbnail2 {
    width: 35px;
    height: 25px;
    position: absolute;
    margin-top: 574px ;
    margin-left: 50px;
}

.img-thumbnail3 {
    width: 35px;
    height: 25px;
    position: absolute;
    margin-top: 613px ;
    margin-left: 50px;
}

.profile-picture {
    width: 100px; /* Sesuaikan lebar foto profil sesuai kebutuhan */
    height: 100px; /* Sesuaikan tinggi foto profil sesuai kebutuhan */
    border-radius: 20px; /* Menentukan radius sudut untuk membuat foto profil persegi dengan sudut tumpul */
    overflow: hidden; /* Mengatasi gambar yang melebihi ukuran kontainer */
    position: absolute;
}

.profile-picture img {
    width: 100%; /* Memastikan gambar diisi sepenuhnya dalam kontainer */
    height: auto; /* Menyesuaikan tinggi gambar agar tidak terdistorsi */
    object-fit: cover; /* Memastikan gambar diatur agar memenuhi kontainer tanpa distorsi */
}

.position-profile {
    top: 35px;
    left: 30px;
}

.line {
    width: 460px;
    height: 10px;
    background-color: rgb(1, 63, 17);
    position: absolute;
    top: 180px;
    left: 20px;
}

.line1 {
    width: 460px;
    height: 10px;
    background-color: rgb(1, 63, 17);
    position: absolute;
    top: 510px;
    left: 37px;
}

.line2 {
    width: 1150px;
    height: 5px;
    background-color: rgb(1, 63, 17);
    position: absolute;
    top: 100px;
    left: 22px;
}

.tombol {
    width: 100px;
    height: 30px;
    top: 270px;
    left: 30px;
    font-size: large;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
}
.tombol2 {
    width: 145px;
    height: 30px;
    top: 320px;
    left: 30px;
    position: absolute;
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    
}
.tombol3 {
    width: 250px;
    height: 30px;
    top: 690px;
    left: 100px;
    position: absolute;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: large;
    cursor: pointer;
    text-decoration: none;
}

.dropdown{
    margin-top: 378px;
    margin-left: 47px;
}

.btn{
    background-color: transparent;
    border: none;
    font-size: large;
    cursor: pointer;
}

.btn:hover {
    background-color: transparent; /* Warna latar belakang tetap sama saat dihover */
}

.dropdown-menu{
    background-color: transparent;
}
.dropdown-item{
    color: white;
}

.leftarrow{
    width: 30px;
    height: 30px;
    top: 0px;
    left: -50px;
    position: absolute;
}

