body {
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url('background.jpg');
    background-size: cover; /* Untuk memastikan gambar mengisi seluruh area background */
    background-repeat: no-repeat; /* Hindari pengulangan gambar */
}

.menu {
    background-color: rgb(0, 0, 0); /* Warna latar belakang navbar */
    height: 97vh; /* Tinggi navbar setara dengan tinggi viewport */
    width: 500px; /* Lebar navbar */
    position: fixed; /* Membuat navbar tetap di posisi saat digulir */
    top: 13px;
    left: 20px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu1 {
    background-color: rgba(187, 187, 187, 0.934); /* Warna latar belakang navbar */
    height: 150px; /* Tinggi navbar setara dengan tinggi viewport */
    width: 250px; /* Lebar navbar */
    position: fixed; /* Membuat navbar tetap di posisi saat digulir */
    top: 200px;
    left: 600px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.menu2 {
    background-color: rgba(42, 24, 204, 0.934); /* Warna latar belakang navbar */
    height: 30px; /* Tinggi navbar setara dengan tinggi viewport */
    width: 190px; /* Lebar navbar */
    position: fixed; /* Membuat navbar tetap di posisi saat digulir */
    top: 300px;
    left: 885px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu3 {
    background-color: rgba(187, 187, 187, 0.934); /* Warna latar belakang navbar */
    height: 150px; /* Tinggi navbar setara dengan tinggi viewport */
    width: 250px; /* Lebar navbar */
    position: fixed; /* Membuat navbar tetap di posisi saat digulir */
    top: 400px;
    left: 600px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.menu4 {
    background-color: rgba(42, 24, 204, 0.934); /* Warna latar belakang navbar */
    height: 30px; /* Tinggi navbar setara dengan tinggi viewport */
    width: 190px; /* Lebar navbar */
    position: fixed; /* Membuat navbar tetap di posisi saat digulir */
    top: 500px;
    left: 885px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu5 {
    background-color: rgba(187, 187, 187, 0.934); /* Warna latar belakang navbar */
    height: 150px; /* Tinggi navbar setara dengan tinggi viewport */
    width: 250px; /* Lebar navbar */
    position: fixed; /* Membuat navbar tetap di posisi saat digulir */
    top: 600px;
    left: 600px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.menu6 {
    background-color: rgba(42, 24, 204, 0.934); /* Warna latar belakang navbar */
    height: 30px; /* Tinggi navbar setara dengan tinggi viewport */
    width: 190px; /* Lebar navbar */
    position: fixed; /* Membuat navbar tetap di posisi saat digulir */
    top: 700px;
    left: 885px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.searchbox {
    background-color: rgba(62, 60, 60, 0.653); /* Warna latar belakang navbar */
    height: 40px; /* Tinggi navbar setara dengan tinggi viewport */
    width: 800px; /* Lebar navbar */
    padding: 10px 35px ;
    position: fixed; /* Membuat navbar tetap di posisi saat digulir */
    top: 50px;
    left: 600px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.searchbox input{
    border: none;
    outline: none;
    background: none;
    width: 700px;
}

.searchbox a{
    color: white;
    width: 750px;
}

.content {
    margin-top: 30px;
    margin-left: 150px;
    color: rgb(255, 254, 254);
}

.content1 {
    margin-top: 100px;
    margin-left: 29px;
    color: rgb(255, 254, 254);
}

.content2 {
    margin-top: 270px;
    margin-left: 100px;
    color: rgb(0, 67, 11);
}

.content3 {
    margin-top: 220px;
    margin-left:710px;
    color: rgb(255, 255, 255);
    font-size: large;
}

.content4 {
    margin-top: 0px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-size:large;
}

.content5{
    margin-top: 120px;
    margin-left: 600px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: medium;
}

.content6 {
    margin-top: 420px;
    margin-left:900px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: large;
}

.content7 {
    margin-top: 0px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-size:large;
}

.content8 {
    margin-top: 620px;
    margin-left:900px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: large;
}

.content9 {
    margin-top: 0px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-size:large;
}

.img-thumbnail1 {
   width: 35px;
   height: 25px;
   position: absolute;
   margin-top: 533px ;
   margin-left: 50px;
}

.img-thumbnail2 {
    width: 35px;
    height: 25px;
    position: absolute;
    margin-top: 574px ;
    margin-left: 50px;
}

.img-thumbnail3 {
    width: 35px;
    height: 25px;
    position: absolute;
    margin-top: 613px ;
    margin-left: 50px;
}

.img-thumbnail4 {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-top: 20px ;
    margin-left: 60px;
}

.img-thumbnail5 {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-top: 20px ;
    margin-left: 60px;
}

.img-thumbnail6 {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-top: 20px ;
    margin-left: 60px;
}

.profile-picture {
    width: 100px; /* Sesuaikan lebar foto profil sesuai kebutuhan */
    height: 100px; /* Sesuaikan tinggi foto profil sesuai kebutuhan */
    border-radius: 20px; /* Menentukan radius sudut untuk membuat foto profil persegi dengan sudut tumpul */
    overflow: hidden; /* Mengatasi gambar yang melebihi ukuran kontainer */
    position: absolute;
}

.profile-picture img {
    width: 100%; /* Memastikan gambar diisi sepenuhnya dalam kontainer */
    height: auto; /* Menyesuaikan tinggi gambar agar tidak terdistorsi */
    object-fit: cover; /* Memastikan gambar diatur agar memenuhi kontainer tanpa distorsi */
}

.position-profile {
    top: 35px;
    left: 30px;
}


.line {
    width: 460px;
    height: 10px;
    background-color: rgb(1, 63, 17);
    position: absolute;
    top: 180px;
    left: 20px;
}

.line1 {
    width: 460px;
    height: 10px;
    background-color: rgb(1, 63, 17);
    position: absolute;
    top: 510px;
    left: 37px;
}

.line2 {
    width: 410px;
    height: 10px;
    background-color: rgb(1, 63, 17);
    position: absolute;
    top: 70px;
    left: 22px;
}

.tombol {
    width: 100px;
    height: 30px;
    top: 270px;
    left: 30px;
    font-size: large;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
}
.tombol2 {
    width: 145px;
    height: 30px;
    top: 320px;
    left: 30px;
    position: absolute;
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    
}
.tombol3 {
    width: 250px;
    height: 30px;
    top: 660px;
    left: 100px;
    position: absolute;
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
}

.dropdown{
    margin-top: 378px;
    margin-left: 47px;
}

.btn{
    background-color: transparent;
    border: none;
    font-size: large;
    cursor: pointer;
}

.btn:hover {
    background-color: transparent; /* Warna latar belakang tetap sama saat dihover */
}

.dropdown-menu{
    background-color: transparent;
}
.dropdown-item{
    color: white;
}